body {
    background: rgba(0, 0, 0, 0) url("../images/bg.jpg") no-repeat scroll 0 0 / 100% 100%;
    height: 657px;
    position: relative;
}
.logo {
    bottom: 58px;
    left: 48px;
    position: absolute;
}
.frame {
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: -55px;
}
.monkey {
    left: 50%;
    margin-left: -45px;
    position: absolute;
    top: 24px;
    width: 90px;
    z-index: 1;
}
p.activity-report {
    color: #765322;
    font-family: "Bungee",cursive;
    font-size: 38px;
    font-weight: 900;
    left: 50%;
    line-height: 53px;
    margin-left: -255px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 156px;
    z-index: 3;
}
a.viewlink {
    color: #b2211e;
    display: block;
    text-align: center;
}
a.viewlink:hover {
    color: #9b1512;
    text-decoration:none;
}
.login-form-wrapper {
    background: rgba(0, 0, 0, 0) url("../images/woodenblanksign.png") no-repeat;
    height: 470px;
    left: 50%;
    top: -55px;
    margin-left: -400px;
    position: absolute;
    width: 800px;
}
.login-form-wrapper form {
    /*    background: rgba(0, 0, 0, 0.37) none repeat scroll 0 0;*/
    margin: 225px auto 0;
    width: 330px;
    position: relative;
}
.login-form-wrapper .form-control {
    background-color: rgba(166, 125, 66, 1) !important;
    background-image: none;
    border: 1px solid #825b24;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 38px;
    padding: 6px 12px !important;
}
.login-form-wrapper .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}
/* placeholder customization */
.login-form-wrapper .form-control::-webkit-input-placeholder {
    color: #e9e9e9;
}
.login-form-wrapper .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #e9e9e9; 
}
.login-form-wrapper .form-control::-ms-input-placeholder {  
    color: #e9e9e9; 
}
.login-form-wrapper .form-control::-o-input-placeholder {  
    color: #e9e9e9;
}
/* end placeholder customization */

.login-form-wrapper .checkbox {
    color: #fff;
    float: right;
    font-size: 15px;
    margin: 0 !important;
}
.login-form-wrapper .btn-default {
    background-color: #a67d42;
    border: 1px solid #825b24;
    color: #fff;
    padding: 6px 31px;
}
.login-form-wrapper .btn-default:focus {
    background: #A67D42 !important;
    border: 1px solid #825b24 !important;
}
.bird {
    left: 50%;
    margin-left: -35px;
    position: absolute;
    top: 44px;
    width: 70px;
}

.login-form-wrapper .text-danger {
    color: #fff;
    font-size: 15px !important;
    font-weight: bold;
    left: 0;
    letter-spacing: 0.5px;
    margin-bottom: 12px !important;
    position: absolute;
    top: -42px;
    width: 330px;
}