.single-mealMember .img-box {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 2px solid #26A69A;
  height: 150px;
  padding: 6px;
  width: 150px;
  margin: 0 auto;
  overflow: hidden;
}
.member-name {
  color: #26a69a;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  text-transform: capitalize;
}
.single-mealMember .member-image {
  text-align: center;
  width: 23%;
  margin-right: 7%;
}
.meal-input-area.pull-left {
  width: 40%;
}
.meal-input-area td {
  border: 0 none !important;
  padding: 7px 40px 7px 0px;
}
.meal-input-area label {
  font-size: 15px;
margin: 0;
width: 90px;
}
.single-mealMember input {
  float: right;
  margin-top: 5px;
}
.datetimepicker1 .form-control {
  margin-top: 0;
}
.input-group.date.datetimepicker1 {
  margin-top: 5px;
}

.single-mealMember .submit,
.singleShoppingMember .submit {
  background: #26a69a none repeat scroll 0 0 !important;
  box-shadow: 0 0 19px 2px rgba(23, 113, 105, 0.82) inset !important;
}
.single-mealMember select option {
  padding: 3px;
}
.massageimg.pull-left {
  height: 280px;
  padding: 6px;
  width: 30%;
}
.imgtbl {
  display: table;
  height: 100%;
  width: 100%;
}
.imgtbl-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.single-mealMember .input-group-addon {
  cursor: pointer;
}
.single-mealMember #datetimepicker2 .form-control {
  cursor: not-allowed;
}
