.fullName, .fatherName, .education,
.password, .email, .repassword, .phone,
.nationalId, .addingDate, .address1, .zip, .city {
    float: left;
    margin-bottom: 0px;
    width: 32%;
}

/*.zip, .city {
  float: left;
  width: 49%;
}*/
.fullName, .fatherName, .password,
.email,.phone, .nationalId, .city, .address1{
    margin-right: 2%;
}
.img input[type="file"] {
    border: 0 none;
    display: inline-block;
    height: auto;
    width: 220px;
}

.memberAdd .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background :none;
    opacity: 1;
}
.navbar.navbar-inverse {
    background: #37474f none repeat scroll 0 0;
}
.memberAdd button.submit {
    background: #26a69a none repeat scroll 0 0!important;
    box-shadow: 0px 0px 19px 2px rgba(23,113,105,0.82) inset!important;
}

/*header style*/
.custom-style {
    /*  padding: 7px 20px;*/
}
.custom-style .navbar-brand > img {
    height: 22px;
    margin-top: 4px;
}
.custom-style .sidebar-control {
    margin-top: 7px;
}
.navbar-inverse .navbar-nav > li > a.dropdown-toggle {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 17px 7px;
    position: relative;
}
.navbar-inverse .navbar-nav > li > a.dropdown-toggle:focus {
    background: none!important;
}
.custom-style .navbar-nav > .dropdown-user img {
    border-radius: 50%;
    margin-top: -2px;
    max-width: 45px;
    max-height: 46px;
}
.custom-style .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}
.navbar .caret:after {
    font-size: 19px;
    margin-left: 4px;
}
.custom-icon-size i {
    font-size: 27px;
}
h4.custom-icon-size {
    font-size: 22px;
}
.admin {
    font-weight: normal; 
    padding: 0px!important;
    bottom: 3px;
    font-size: 11px;
    position: absolute;
    right: 38px;

}

/*viel all member page style*/
#mass-member-mesonary .thumbnail .caption {
  padding: 20px 12px 17px;
}
.btn-default:hover {
  box-shadow: 0px 0px 13px rgba(0,0,0,0.33) inset;
}
#mass-member-mesonary a.btn.border-white {
  border: 2px solid;
  font-size: 14px;
  padding: 8px 15px;
  color: #fff;
}

/*sidebar style*/
.media-heading.text-semibold {
    font-size: 14px !important;
}

.memberAdd .user-image {
  border-radius: 4px;
height: 185px;
overflow: hidden;
width: 180px;

}
.img-shadow{position: relative;width: 180px;height: 185px;margin-bottom: 10px;}
.memberAdd .img-shadow:after {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
bottom: 0;
content: "1";
height: 80px;
left: 0;
position: absolute;
transform: skewX(-19deg) translate(13px);
width: 100%;
z-index: 1;
}
.user-image > img {
  position: relative;
  z-index: 2;
}
.form-group.for-user {
  width: 50%;
}